USE [MyCrape]
GO
/****** Object:  StoredProcedure [dbo].[ADD_PERIOD]    Script Date: 5/3/2566 1:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[ADD_PERIOD] (
	@STS INT
)
AS
BEGIN
INSERT INTO TB_PERIODS
SELECT (SELECT ISNULL(MAX(PERIOD_ID),0) + 1 FROM TB_PERIODS)	AS PERIOD_ID
		,CASE @STS WHEN 1 THEN (SELECT ISNULL(MAX(DAY_ID),1) FROM TB_PERIODS) 
					ELSE (SELECT ISNULL(MAX(DAY_ID),0) + 1 FROM TB_PERIODS) 
		  END AS DAY_ID
		,CASE @STS WHEN 1 THEN (SELECT TOP 1 ISNULL(MAX(SHIFT_ID),0) + 1 FROM TB_PERIODS WHERE DAY_ID = (SELECT MAX(DAY_ID) FROM TB_PERIODS)) 
				   ELSE 0 
		  END AS SHIFT_ID
		,CASE @STS WHEN 1 THEN (SELECT ISNULL(MAX(BUS_DATE),GETDATE()) FROM TB_PERIODS)
				   ELSE (SELECT ISNULL(DATEADD(DAY,1,MAX(BUS_DATE)),GETDATE()) FROM TB_PERIODS) 
		  END AS BUS_DATE
		,CASE @STS WHEN 3 THEN 0
					ELSE @STS
		  END AS PRIODTYPE
		,CASE @STS WHEN 3 THEN 1
		           ELSE 0 
		 END AS PRIODSTATUS
		,GETDATE() AS OPENTIME
		,CASE @STS WHEN 3 THEN GETDATE() ELSE NULL END AS CLOSETIME
END