USE [MyCrape]
GO
/****** Object:  StoredProcedure [dbo].[CASHDAY_REPORT]    Script Date: 5/3/2566 1:17:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[CASHDAY_REPORT] (@DATE NVARCHAR(10))
AS
BEGIN
SELECT ISNULL(SUM(S.GRANDTOTAL),0) AS CASHDAY
FROM SALE S
INNER JOIN TB_PERIODS P
ON S.DAY_ID = P.DAY_ID AND S.SHIFT_ID = P.SHIFT_ID
WHERE P.BUS_DATE = @DATE
AND S.IS_ACTIVE = 1
END