USE [MyCrape]
GO
/****** Object:  StoredProcedure [dbo].[GET_PERIOD3]    Script Date: 5/3/2566 1:18:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[GET_PERIOD3]
AS 
BEGIN
DECLARE @PID INT = (SELECT MAX(PERIOD_ID) FROM TB_PERIODS WHERE PERIODTYPE = 0)
DECLARE @DID INT = (SELECT MAX(DAY_ID) FROM TB_PERIODS)
DECLARE @SHIFTID INT = (SELECT MAX(SHIFT_ID) FROM TB_PERIODS WHERE DAY_ID = @DID)

SELECT CONVERT(NVARCHAR(10),ISNULL((SELECT BUS_DATE FROM TB_PERIODS WHERE PERIOD_ID = @PID),GETDATE()),103) AS BUSDATE
		,ISNULL(@DID,0) AS DAY_ID 
		,ISNULL((SELECT MAX(SHIFT_ID) FROM TB_PERIODS WHERE DAY_ID = @DID),0) AS SHIFT_ID
		,ISNULL((SELECT MAX(SALE_ID) +1 FROM SALE),0) AS BILL_ID
		,ISNULL((SELECT MAX(QUEUEID) +1 FROM SALE WHERE DAY_ID = @DID AND SHIFT_ID = @SHIFTID),1) AS QUEUE_ID
END