USE [MyCrape]
GO
/****** Object:  StoredProcedure [dbo].[GET_PERIOD]    Script Date: 5/3/2566 1:17:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[GET_PERIOD]
AS 
BEGIN
SELECT CASE
ISNULL((SELECT TOP 1 CONVERT(INT,PERIODSTATUS)
FROM TB_PERIODS
WHERE PERIODTYPE = 1 
ORDER BY PERIOD_ID DESC ),1) + 
ISNULL((SELECT TOP 1 CONVERT(INT,PERIODSTATUS)
FROM TB_PERIODS
WHERE PERIODTYPE = 0 
ORDER BY PERIOD_ID DESC),1)
WHEN 0 THEN 3
WHEN 1 THEN 2
WHEN 2 THEN 1
END AS [STATE]
END