USE [MyCrape]
GO
/****** Object:  StoredProcedure [dbo].[GET_PERIOD2]    Script Date: 5/3/2566 1:18:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[GET_PERIOD2]
AS 
BEGIN
DECLARE @PID INT = (SELECT MAX(PERIOD_ID) FROM TB_PERIODS WHERE PERIODTYPE = 0)
DECLARE @DID INT = (SELECT MAX(DAY_ID) FROM TB_PERIODS)

SELECT CONVERT(NVARCHAR(10),ISNULL((SELECT BUS_DATE FROM TB_PERIODS WHERE PERIOD_ID = @PID),GETDATE()),103) AS BUSDATE
		,ISNULL(@DID,1) AS DAY_ID 
		,ISNULL((SELECT MAX(SHIFT_ID) FROM TB_PERIODS WHERE DAY_ID = @DID),0) AS SHIFT_ID
		,CASE ISNULL((SELECT PERIODSTATUS FROM TB_PERIODS WHERE PERIOD_ID = @PID),1) WHEN 0 THEN 'วันทำการเปิดอยู่'
				WHEN 1 THEN 'ปิดร้าน'
		 ELSE 'ปิดร้าน'
		 END AS PERIODSTATUS
END