USE [MyCrape]
GO
/****** Object:  StoredProcedure [dbo].[SEARCH_BILL]    Script Date: 5/3/2566 1:22:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CReATE OR ALTER PROCEDURE [dbo].[SEARCH_BILL] (
	@SID INT
)
AS 
BEGIN
SELECT  S.SALE_ID
		,CONVERT(NVARCHAR(10),P.BUS_DATE,121) AS BUS_DATE
		,S.SHIFT_ID
		,S.QUEUEID
		,CONVERT(NVARCHAR(19),S.CREATEDATE,20) AS CREATEDATE
		,CASE S.IS_ACTIVE 
			WHEN 0 THEN 'สถานะ : ยกเลิกใบเสร็จ'
			WHEN 1 THEN 'สถานะ : ใบเสร็จปกติ'		
		END AS IS_ACTIVE
		,SD.ITEM_NO	ITEM
		,SD.PRICE PRICE
		,SD.QTY
		,SD.VAT
		,SD.NETBFVAT
		,SDI.ITEM_NO SUB_ITEM
		--,CONVERT(NVARCHAR,VP.VID) + '.' + VP.PROD_NAME AS PROD
		,VP.PROD_NAME AS PROD
		,C.CAT_NAME
		,SDI.PRICE SUB_PRICE
		,S.GRANDTOTAL
		,S.REMARK
FROM SALE S
INNER JOIN SALE_DETAIL SD
ON S.SALE_ID = SD.SALE_ID
INNER JOIN SALE_DETAIL_ITEM SDI
ON S.SALE_ID = SDI.SALE_ID
INNER JOIN V_PRODUCT VP
ON SDI.PROD_ID = VP.ID
INNER JOIN CATEGORY C
ON SDI.CAT_ID = C.ID
INNER JOIN TB_PERIODS P
ON S.DAY_ID = P.DAY_ID AND S.SHIFT_ID = P.SHIFT_ID
WHERE S.SALE_ID = @SID
END